[project]
	description = AppDev
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/lloydvolson
[access "refs/for/refs/*"]
	read = group user/lloydvolson
	push = group user/lloydvolson
	label-Code-Review = -2..+2 group user/lloydvolson
	label-Verified = -1..+1 group user/lloydvolson
	rebase = group user/lloydvolson
	removeReviewer = group user/lloydvolson
	submit = group user/lloydvolson
[access "refs/heads/*"]
	read = group user/lloydvolson
	create = group user/lloydvolson
	push = +force group user/lloydvolson
	pushMerge = group user/lloydvolson
[access "refs/tags/*"]
	push = +force group user/lloydvolson
	pushTag = group user/lloydvolson
	pushSignedTag = group user/lloydvolson
